


body {
  font-family: sans-serif;
  color: yellow;
}

* {
  margin: 0;
}


section {
  margin: 20% auto;
}


.key {
  height: 300px;
  width: 50%;
  float: left;
  background-image: url('https://hd.unsplash.com/photo-1469719847081-4757697d117a');
  background-size: cover;
}
.key li {
  margin: 15px 0;
  line-height: 2;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}
.value {
  height: 300px;
  width: 50%;
  float: right;
  background-image: url('https://hd.unsplash.com/photo-1468743428993-661b9309fa2c');
  background-size: cover;
}

.value li {
  margin: 25px 0;
  line-height: 1.3;
  list-style: none;
  text-align: center;
  text-transform: lowercase;
}

@media screen and (max-width: 600px) {
  .key, .value {
    width: 100%;
  }
}
