section {

}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}


.key {
  border: 1px solid red;
  margin: 10px 0 0 0;
  flex: 0.1;
}
.value {
  margin: 10px 0 0 0;
  border: 1px solid red;
  flex: 0.4;
}
