


body {
  font-family: sans-serif;
}

* {
  margin: 0;
}


section {
  margin: 20% auto;
}


.key {
  height: 300px;
  width: 50%;
  float: left;
}
.key li {
  margin-bottom: 10px;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}
.value {
  height: 300px;
  width: 50%;
  float: right;
}

.value li {
  margin-bottom: 10px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .key, .value {
    width: 100%;
  }
}
